.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.button-style {
  background-color: #C9D6DF;
  font-size: 20px;
  padding: 12px 28px;
  border: none;
  border-radius: 12px;;
  width: auto;
}

.button-style:hover {
  background-color: #F0F5F9;
  cursor: pointer;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #52616B;
  font-size: 8rem;
  color: #FAE3D9;
}

p {
  font-size: 2rem;
  color: #FAE3D9;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
